<!DOCTYPE html>
<!-- This template was created by Momtaz Begum ISM 5994-->
<html lang="en">
<head>
	<link rel="stylesheet" href="Css/styles.css">
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="wide=device-wide, initial-scale=1">
</head>
<body>
	<div id="container">
	
	<!-- Use the header area for the website name or Logo -->
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo"></a>
	</header>
	
	<!-- Use the header area for the website name or Logo -->
<nav>
		<ul>
			<li><a href="index.html">Home</a></li> 
			<li><a href="about.html">About Us</a></li> 
			<li><a href="class.html">Classes</a></li> 
			<li><a href="nutrition">Nutrition</a></li> 
			<li><a href="Contact.html">Contact Us</a></li>
		</ul>
		
	</nav>
	
	<!-- Use the header area for the website name or Logo -->
	<main>
	</main>
	
	<!-- Use the header area for the website name or Logo -->
	<footer> 
		&copy; Copyright 2015. All Rights Reserved. <br>
		<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
	</footer>
		</div>
</body>
</html>