<!DOCTYPE html>
<!-- This template was created by David Foote ISM 5994-->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Use the header area for the website name or Logo -->
	<header>
		Forward Fitness Club
	</header>
	
	<!-- Use the header area for the website name or Logo -->
	<nav>
		Home &nbsp; &nbsp;
		About Us &nbsp; &nbsp;
		Classes &nbsp; &nbsp;
		Nutrition &nbsp; &nbsp;
		Contact Us &nbsp; &nbsp;
	</nav>
	
	<!-- Use the header area for the website name or Logo -->
	<main>
	</main>
	
	<!-- Use the header area for the website name or Logo -->
	<footer> 
		&copy; Copyright 2015. All Rights Reserved. <br>
		forwardfitness@club.net
	</footer>
	
</body>
</html>